<section class="author-listing">
  <div class="mdl-grid">
    <div class="mdl-cell--4-col">
      <img src="https://placehold.it/256x256" alt="" class="author-listing__img">
    </div>
    <div class="mdl-cell--8-col">
      <div class="mdl-grid">
        <div class="mdl-cell--10-col">
          <a href="/books/1">
            <h2 class="author-listing_h2">
            Author Title
            </h2>
          </a>
        </div>
        <div class="mdl-cell--2-col mdl-cell--middle">
          <div class="author-listing__controls">
            <a href="authors/1/edit"><i class="material-icons">mode_edit</i></a>
            <a href="authors/1/delete"><i class="material-icons">remove_circle</i></a>
          </div>
        </div>
      </div>
      <div class="author-listing__bio">
        <p class="author-listing__bio">
          Author's Bio
        </p>
      </div>
      <div class="author-listing__books">
        <ul class="author-listing__books__ul">
          <li class="author-listing__books__li">Book 1</li>
          <li class="author-listing__books__li">Book 2</li>
          <li class="author-listing__books__li">Book 3</li>
        </ul>
      </div>
    </div>
  </div>
</section>
