
section.author-listing
   div.mdl-grid 
     div.mdl-cell--4-col 
       img.author-listing__img(src="https://placehold.it/256x256" alt="")

     div.mdl-cell--8-col 
       div.mdl-grid 
         div.mdl-cell--10-col 
           a(href="/author/" + author.id) 
             h2.author-listing_h2 author.name
            

         div.mdl-cell--2-col.mdl-cell--middle 
           div.author-listing__controls 
             a(href="authors/" + author.id + "/edit")  
               i.material-icons remove_edit
             a(href="authors/" + author.id + "/delete")  
               i.material-icons remove_circle 
               
       div.author-listing__bio 
         p.author-listing__bio author.bio
          
       div.author-listing__books 
         ul.author-listing__books__ul 
           li.author-listing__books__li Book 1
           li.author-listing__books__li Book 2
           li.author-listing__books__li Book 3
