for author in authors
  section.author-listing
    div.mdl-grid 
      div.mdl-cell--4-col 
        img.author-listing__img(src=author.url alt="")

      div.mdl-cell--8-col 
        div.mdl-grid 
          div.mdl-cell--10-col 
            a(href="/authors/" + author.auth_id)
              h2.author-listing_h2= author.first_name + " " + author.last_name
          
          if user
            div.mdl-cell--2-col.mdl-cell--middle 
              div.author-listing__controls 
                a(href="authors/" + author.auth_id + "/edit")
                  i.material-icons mode_edit
                form(method="post", action='/authors/' + author.auth_id + "/delete?_method=DELETE" )
                  button.btn--delete(type="submit")
                    i.material-icons remove_circle
               
        div.author-listing__bio 
          p.author-listing__bio= author.biography
          
        div.author-listing__books 
          ul.author-listing__books__ul 
            each book in author.booksWritten
              li.author-listing__books__li
                a(href="/books/" + book.book_id)= book.title
