<section class="book-listing">
  <div class="mdl-grid">
    <div class="mdl-cell--4-col">
      <img src="https://placehold.it/256x256" alt="" class="book-listing__img">
    </div>
    <div class="mdl-cell--8-col">
      <div class="mdl-grid">
        <div class="mdl-cell--10-col">
          <a href="/books/1">
            <h2 class="book-listing_h2">
            <%= book[0].title %>
            </h2>
          </a>
        </div>
        <div class="mdl-cell--2-col mdl-cell--middle">
          <div class="book-listing__controls">
            <a href="books/1/edit"><i class="material-icons">mode_edit</i></a>
            <a href="books/1/delete"><i class="material-icons">remove_circle</i></a>
          </div>
        </div>
      </div>
      <div class="book-listing__author">
        Book Author
      </div>
      <div class="book-listing__genre">
        <em>
          Book's Genre's
        </em>
      </div>
      <div class="book-listing__description">
        <p class="book-listing__description__p">
          Book's description
        </p>
      </div>
    </div>
  </div>
</section>
