for book in books
  section.book-listing
    div.mdl-grid
      div.mdl-cell--4-col
        img.book-listing__img(src="https://placehold.it/256x256" alt="")

      div.mdl-cell--8-col
        div.mdl-grid
          div.mdl-cell--10-col
            a(href="/books/" + book.book_id )
              h2.book-listing_h2= book.title 

          div.mdl-cell--2-col.mdl-cell--middle
            div.book-listing__controls
              a(href="books/" + + book.book_id + "/edit")
                i.material-icons mode_edit
              form(method="post", action='/books/' + book.book_id + "/delete?_method=DELETE" )
                button(type="submit")
                  i.material-icons remove_circle



        div.book-listing__author= book.authors
          //- ul
          //-   each author in book.authors
          //-     li= author

        div.book-listing__genre
          em= book.genre
            
        div.book-listing__description
          p.book-listing__description__p= book.description
