
head
  meta(charset="UTF-8")
  meta(name="viewport", content='width=device-width, initial-scale=1.0')
  title Galvanize Reads

  link(rel="stylesheet", href="/node_modules/material-design-lite/material.min.css")
  link(rel="stylesheet", href="/static/css/material.grey-orange.min.css")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
  link(rel="stylesheet", href="/static/css/custom.css")
