
header.g-reads__header.mdl-layout__header.g-reads__nav--dark
  div.mdl-layout__header-row
    span.mdl-layout-title 
      a(href="/")
        img(src="/static/img/galvanize-logo.svg", class="g-reads__logo", alt="")
      | | Reads
    div.mdl-layout-spacer
    
    nav.mdl-navigation
      a.mdl-navigation__link(href="/login") Login
      a.mdl-navigation__link(href="/signup") Create Account
      
      
      
      
div.mdl-layout__drawer
  span.mdl-layout-title
    a(href="/")
      

  nav.mdl-navigation
    a.mdl-navigation__link(href="/authors") Authors
    a.mdl-navigation__link(href="/books") Books
    a.mdl-navigation__link(href="/login") Login
    a.mdl-navigation__link(href="/signup") Create Account
