header.g-reads__header.mdl-layout__header.g-reads__nav--dark
  div.mdl-layout__header-row
    a(href="/")
      img(src="/static/img/galvanize-logo.svg", class="g-reads__logo", alt="")
    span.mdl-layout-title | Reads
    nav.mdl-navigation
      a.mdl-navigation__link(href="/authors") Authors
      a.mdl-navigation__link(href="/books") Books
