<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header ">
  <header class="g-reads__header mdl-layout__header g-reads__nav--dark">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a href="/"><img src="/static/img/galvanize-logo.svg" class="g-reads__logo" alt=""></a>
      <span class="mdl-layout-title">| Reads</span>
      <nav class="mdl-navigation">
        <a href="/authors" class="mdl-navigation__link">Authors</a>
        <a href="/books" class="mdl-navigation__link">Books</a>
      </nav>
    </div>
  </header>
