doctype html
html
  head
    include ./partials/head
  body
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      include ./partials/nav
      
      block content

      include ./partials/footer
