.g-reads__nav--dark {
  background-color: #484848;
  color: white;
}

.mdl-card__media.main--home-card__media {
  background: none;
}

.mdl-card__media.main--home-card__media .main--home-card__img {
  width: 100%;
}

/* for hiding links from UI but keeping them screen reader accessible. */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.mdl-textfield__label.g-reads-label--dark {
  color: rgba(0,0,0,.6);
}

.mdl-textfield__input.g-reads-input--dark {
  border-bottom: 1px solid rgba(0,0,0,.5);
}

.add-books-written .mdl-grid {
  padding-left: 0;
  padding-right: 0;
}
  .add-books-written .mdl-grid .mdl-cell:first-child {
    margin: 0;
  }
