doctype html
html(lang=en)
  include ../partials/head 
  
body

  include ../partials/nav 

  main.main.main--book
    if alert
      div.alert= alert
        
    include ../partials/author-listing

  include ../partials/footer 
  
