<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
  <% include ../partials/nav %>

    <main class="main--add-book">
      <div class="mdl-grid">
        <div class="mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
          <form class="add-book__form" action="/books" method="GET">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="title" type="text" name="title" class="mdl-textfield__input">
                <label for="title" class="mdl-textfield__label g-reads-label--dark">Title</label>
                <span class="mdl-textfield__error">Please enter a title</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label for="genre" class="mdl-textfield__label g-reads-label--dark">Genre</label>
                <input id="genre" type="text" name="genre" class="mdl-textfield__input">
                <span class="mdl-textfield__error">Please enter at least one genre</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                <input id="coverImage" name="coverImage" type="text" class="mdl-textfield__input">
                <label for="coverImage" class="mdl-textfield__label g-reads-label--dark">Cover Image</label>
                <span class="mdl-textfield__error">Please enter a url for a cover image</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                <textarea id="description" name="description" type="text" class="mdl-textfield__input"></textarea>
                <label for="description" class="mdl-textfield__label g-reads-label--dark">Description</label>
                <span class="mdl-textfield__error">Please enter a description</span>
              </div>
              <div class="authors">

              </div>
              <div class="add-authors">
                <div class="mdl-textfield mdl-js-textfield">
                  <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--10-col mdl-cell--7-col-tablet mdl-cell--3-col-phone">
                      <input id="author" name="authors" type="text" class="mdl-textfield__input">
                      <label for="description" class="mdl-textfield__label g-reads-label--dark">Author(s)</label>
                    </div>
                    <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
                      <button id="addAuthors" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                        <i class="material-icons">add</i>
                      </button>
                    </div>
                  </div>
                      <span class="mdl-textfield__error">Please enter at least one author</span>

                </div>
              </div>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" type="submit">Add Book</button>
          </form>
          </div>
      </div>
    </main>

  <% include ../partials/footer %>
</body>
</html>
