html

  include ../partials/head

body
  div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    include ../partials/nav
    
    section.main.main--home
      div.mdl-grid
        div.mdl-cell.mdl-cell--6-col.mdl-cell--middle
          div.main--home-card.mdl-card.mdl-shadow--2dp
            div.mdl-card__title.mdl-card--expand
              h2.mdl-card__title-text Browse by Authors

            div.mdl-card__media.main--home-card__media
              img(src="https://placehold.it/256x256", alt="").main--home-card__img

            div.mdl-card__actions.mdl-card--border
              a(href="/authors").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                Get Started
                span.sr-only browsing by author

        div.mdl-cell.mdl-cell--4-col.mdl-cell--middle.mdl-cell--stretch
          div.main--home-card.mdl-card.mdl-shadow--2dp
            div.mdl-card__title.mdl-card--expand
              h2.mdl-card__title-text Browse by Books

            div.mdl-card__media.main--home-card__media
              img(src="https://placehold.it/256x256" alt="").main--home-card__img

            div.mdl-card__actions.mdl-card--border
              a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href="/books")
                Get Started 
                span.sr-only browsing by books






  include ../partials/footer
