extends ../layout

if alert
  div.alert--success
    p= alert

block content
  section.main.main--home
    div.mdl-grid
      div.mdl-cell.mdl-cell--4-col.mdl-cell--2-offset-desktop.mdl-cell--4-col-phone
        div.main--home-card.mdl-card.mdl-shadow--2dp.text-center
          div.mdl-card__title.mdl-card--expand
            h2.mdl-card__title-text.text-center Browse by Authors

          div.mdl-card__media.main--home-card__media.text-align
            img.main--home-card__png(src="/static/img/authors.png")
             
          div.mdl-card__actions.mdl-card--border.text-center
            a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href="/authors") Get Started
              
              span.sr-only browsing by author

      div.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-phone
        div.main--home-card.mdl-card.mdl-shadow--2dp.text-center
          div.mdl-card__title.mdl-card--expand
            h2.mdl-card__title-text.text-center Browse by Books

          div.mdl-card__media.main--home-card__media
            img.main--home-card__img(src="/static/img/books.png") 

          div.mdl-card__actions.mdl-card--border.text-center
            a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href="/books") Get Started 
              
              span.sr-only browsing by books
